#otpDiv{
  width: 30%;
  margin: auto;
  background-color: gray;
  display: block;

}
#inputDiv{
    width:70%;
    text-align: center;
    height: 20%;
  
    margin: auto;
  }
  #inputDiv input{
    width: 10%;
    margin-right: 5px;
    padding: 5%;
    font-size: 25px;
  }
  #addproduct{
    margin: auto;
    width: 20%;
    padding: 5%;
    background-color: whitesmoke;
  }
  #addproduct input,select{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px ;
  }